<a href="https://colab.research.google.com/github/ramonparaiba/machine-learning-classes/blob/main/Extra_001_PANDAS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [13]:
nums = [22, 12, 13, 12, 5, 3, 22, 11, 12, 19]
nos = set(nums)
nos
nums.count(12)
len(nums)

10

In [19]:
def numeroUnicos(lista):
  freq = ()
  result = []
  setList = list(set(lista))
  for i in setList:
    freq = (i, lista.count(i))
    result.append(freq)
  
  return result

In [22]:
data = numeroUnicos(nums)

In [23]:
import pandas as pd

Criação de dataframes com pandas

In [ ]:
df = pd.DataFrame(data, columns = ['numeros', 'frequência'])
df

In [29]:
#importar dataframe
titanic = pd.read_csv('/content/drive/MyDrive/datasets-colab/titanic.csv')

In [ ]:
titanic

In [ ]:
#Ver as primeiras x linhas de um dataframe
titanic.head(3)

In [ ]:
#ver as ultimas x linhas de um dataframe
titanic.tail(3)

In [ ]:
#ver os tipos de variáveis de cada séries
titanic.dtypes

In [45]:
from google.colab import drive

drive.mount('drive')

Mounted at drive

In [48]:
#Salvar um dataframe para um arquivo
titanic.to_csv('titanic2.csv')
!cp titanic2.csv "/content/drive/MyDrive/datasets-colab"