<a href="https://colab.research.google.com/github/ramonparaiba/machine-learning-classes/blob/main/Extra_003_Pandas_limpeza_e_Tratamento.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('/content/drive/MyDrive/datasets-colab/w3schools/data.csv')

In [ ]:
data.head()

In [5]:
data.shape

(169, 4)

In [ ]:
data.info()

#Limpeza de dados
- Tratando células NaN - dropna() fillna()
- Dados no formato errado
- Dados errados
- Dados duplicados

In [ ]:
#Tratando células vazias dropna()
#Remover Linhas
newData = data.dropna() #dropna() não altera o dataframe original
newData.info()

In [13]:
#Substituir valores vazios fillna()
dataSubst = pd.DataFrame(data)
dataSubst['Calories'].fillna(130, inplace=True) #subsitui os campos null por 130

In [16]:
#Substituir usando média
dataMean = pd.DataFrame(data)
media = dataMean['Calories'].mean()
dataMean['Calories'].fillna(media, inplace=True) #substitui os dados null pela média

In [ ]:
#Substituir mediana
dataMed = pd.DataFrame(data)
data[data['Calories'].isna()]

In [ ]:
mediana = dataMed['Calories'].median()
dataMed['Calories'].fillna(mediana, inplace = True)

In [36]:
dfmoda = pd.DataFrame(data)
moda = dfmoda['Calories'].mode()[0]
dfmoda['Calories'].fillna(moda, inplace = True)

- Converter para o tipo de dado correto

In [8]:
#Novodataframe com a série 'Date'
df = pd.read_csv('/content/drive/MyDrive/datasets-colab/w3schools/data2.csv', delimiter = ' ')

In [ ]:
df

In [12]:
#substituir os NaN na série 'Calories' pela média
media = df['Calories'].mean()
df['Calories'].fillna(media, inplace=True)

In [15]:
#Tentar converter todas as células da série Date em datas
#temos problemas nas linhas 22 e 26

df['Date'] = pd.to_datetime(df['Date'])

In [ ]:
print(df.to_string())
#A linha 26 foi corrigida, entretanto a linha 22 passou a ter um valor NaT (not a time)

In [19]:
#como estimar uma data é muito crítico, uma solução recomendável pode ser a exclusão da linha
df.dropna(subset=['Date'], inplace = True)

In [ ]:
df

* Dados errados.
  - Um dado errado, não é necessáriamente um problema de tipo de dado.
  - Pode ser um erro flagrante de digitação. Por exemplo: alguém digitou o peso de uma pessoa como sendo 600 kg. 
  - No dataset em questão, a duração, que em geral está oscilando entre 30 e 60, tem na linha 7, o valor 450. Então é um forte candidato a ser tratado.
  - Nem sempre valores discrepantes são errados. Ai depende da experiência do pesquisador, e da sua familiaridade com os tipos de inputs.

In [22]:
#Substituindo o valor por outro que se saiba mais coerente
df.loc[7, 'Duration'] = 45

In [ ]:
df

- Para pequenos datasets, é possível substituir o valor errado por 1, mas não para grandes conjuntos de dados.
- Para datasets maiores, é possível escrever uma regra que limite valores máximos. Assim, se algum valor estiver fora desse range, pode ser substituído por um valor estipulado.

In [25]:
for i in df.index:
  if df.loc[i, 'Duration'] > 100:
    df.loc[i,'Duration'] == 100

In [27]:
#removendo as linhas
for i in df.index:
  if df.loc[i, 'Duration'] > 100:
    df.drop(i, inplace = True)

Remoção de duplicatas

In [ ]:
#no dataset as linhas 11 e 12 são idênticas (fortes candidatas a serem duplicatas)
#para descobrir duplicatas usar o método duplicated()
df.duplicated()

In [33]:
#para deletar as duplicatas drop_duplicates()

df.drop_duplicates(inplace = True)

In [ ]:
df