<a href="https://colab.research.google.com/github/ramonparaiba/machine-learning-classes/blob/main/Extra_003_Pandas_limpeza_e_Tratamento.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [30]:
data = pd.read_csv('/content/drive/MyDrive/datasets-colab/w3schools/data.csv')

In [ ]:
data.head()

In [5]:
data.shape

(169, 4)

In [21]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 169 entries, 0 to 168
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  169 non-null    int64
 1   Pulse     169 non-null    int64
 2   Maxpulse  169 non-null    int64
 3   Calories  164 non-null    float64
dtypes: float64(1), int64(3)
memory usage: 5.4 KB

In [ ]:
#Limpeza de dados
#Células vazias
#Dados no formato errado
#Dados errados
#duplicados

In [ ]:
#Tratando células vazias dropna()
#Remover Linhas
newData = data.dropna() #dropna() não altera o dataframe original
newData.info()

In [13]:
#Substituir valores vazios fillna()
dataSubst = pd.DataFrame(data)
dataSubst['Calories'].fillna(130, inplace=True) #subsitui os campos null por 130

In [16]:
#Substituir usando média
dataMean = pd.DataFrame(data)
media = dataMean['Calories'].mean()
dataMean['Calories'].fillna(media, inplace=True) #substitui os dados null pela média

In [24]:
#Substituir mediana
dataMed = pd.DataFrame(data)
data[data['Calories'].isna()]

     Duration  Pulse  Maxpulse  Calories
17         45     90       112       NaN
27         60    103       132       NaN
91         45    107       137       NaN
118        60    105       125       NaN
141        60     97       127       NaN

In [27]:
mediana = dataMed['Calories'].median()
dataMed['Calories'].fillna(mediana, inplace = True)

Empty DataFrame
Columns: [Duration, Pulse, Maxpulse, Calories]
Index: []

In [36]:
dfmoda = pd.DataFrame(data)
moda = dfmoda['Calories'].mode()[0]
dfmoda['Calories'].fillna(moda, inplace = True)

In [37]:
dfmoda.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 169 entries, 0 to 168
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  169 non-null    int64
 1   Pulse     169 non-null    int64
 2   Maxpulse  169 non-null    int64
 3   Calories  169 non-null    float64
dtypes: float64(1), int64(3)
memory usage: 5.4 KB