<a href="https://colab.research.google.com/github/ramonparaiba/machine-learning-classes/blob/main/Extra_002_Exploracao_de_Dados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#import packages
import pandas as pd

In [52]:
#criar um dataFrame
steam = pd.read_csv('/content/drive/MyDrive/datasets-colab/games/steam.csv')

In [4]:
#tamanho do dataFrame
steam.shape

(27075, 18)

In [7]:
#Informação sobre as colunas ou Séries
steam.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27075 entries, 0 to 27074
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   appid             27075 non-null  int64
 1   name              27075 non-null  object
 2   release_date      27075 non-null  object
 3   english           27075 non-null  int64
 4   developer         27075 non-null  object
 5   publisher         27075 non-null  object
 6   platforms         27075 non-null  object
 7   required_age      27075 non-null  int64
 8   categories        27075 non-null  object
 9   genres            27075 non-null  object
 10  steamspy_tags     27075 non-null  object
 11  achievements      27075 non-null  int64
 12  positive_ratings  27075 non-null  int64
 13  negative_ratings  27075 non-null  int64
 14  average_playtime  27075 non-null  int64
 15  median_playtime   27075 non-null  int64
 16  owners            27075 non-null  object
 17  price             27075 non-null  float64
dtypes: float64(1), int64(8), object(9)
memory usage: 3.7+ MB

In [ ]:
#Listar uma única série (PREÇO)
steam['price']

In [ ]:
#Listar só categorias
steam['categories'].head(35)

In [ ]:
#Listar só owners
steam['owners']

In [ ]:
#listar um subset duplo
steam[['name', 'genres']]

In [19]:
steam[['name', 'genres', 'average_playtime']]

                             name                  genres  average_playtime
0                  Counter-Strike                  Action             17612
1           Team Fortress Classic                  Action               277
2                   Day of Defeat                  Action               187
3              Deathmatch Classic                  Action               258
4       Half-Life: Opposing Force                  Action               624
...                           ...                     ...               ...
27070             Room of Pandora  Adventure;Casual;Indie                 0
27071                   Cyber Gun  Action;Adventure;Indie                 0
27072            Super Star Blast     Action;Casual;Indie                 0
27073  New Yankee 7: Deer Hunters  Adventure;Casual;Indie                 0
27074                   Rune Lord  Adventure;Casual;Indie                 0

[27075 rows x 3 columns]

In [48]:
#subet com Categoria, idade necessária e preço
categoria = steam[['name', 'categories','owners', 'price']]

In [ ]:
#Listar apenas os jogos mais baratos que 3 dólares
categoria[(categoria['price']<3)]

In [ ]:
#Listar apenas os jogos mais baratos que 3 dólares
categoria[(categoria['price']>10)]

In [35]:
#qual o preço mais alto?
categoria['price'].max()

421.99

In [36]:
#qual o preço mais baixo?
categoria['price'].min()

0.0

In [ ]:
categoria[(categoria['price'] > 100)]

In [51]:
#descobrir categorias
categoria['owners'].unique()

array(['10000000-20000000', '5000000-10000000', '2000000-5000000',
       '20000000-50000000', '100000000-200000000', '50000000-100000000',
       '20000-50000', '500000-1000000', '100000-200000', '50000-100000',
       '1000000-2000000', '200000-500000', '0-20000'], dtype=object)