<a href="https://colab.research.google.com/github/ramonparaiba/machine-learning-classes/blob/main/Extra_001_PANDAS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [13]:
nums = [22, 12, 13, 12, 5, 3, 22, 11, 12, 19]
nos = set(nums)
nos
nums.count(12)
len(nums)

10

In [19]:
def numeroUnicos(lista):
  freq = ()
  result = []
  setList = list(set(lista))
  for i in setList:
    freq = (i, lista.count(i))
    result.append(freq)
  
  return result

In [22]:
data = numeroUnicos(nums)

In [23]:
import pandas as pd

Criação de dataframes com pandas

In [ ]:
df = pd.DataFrame(data, columns = ['numeros', 'frequência'])
df

#Dataframes são as tabelas que já conhecemos. 
#Uma série é uma colunda do dataframe.

In [29]:
#importar dataframe
titanic = pd.read_csv('/content/drive/MyDrive/datasets-colab/titanic.csv')

In [ ]:
titanic

In [ ]:
#Ver as primeiras x linhas de um dataframe
titanic.head(3)

In [ ]:
#ver as ultimas x linhas de um dataframe
titanic.tail(3)

In [ ]:
#ver os tipos de variáveis de cada séries
titanic.dtypes

In [45]:
from google.colab import drive

drive.mount('drive')

Mounted at drive

In [48]:
#Salvar um dataframe para um arquivo
titanic.to_csv('titanic2.csv')
!cp titanic2.csv "/content/drive/MyDrive/datasets-colab"

In [51]:
#salvar para arquivo excel
titanic.to_excel('titanic.xlsx')
!cp titanic.xlsx "/content/drive/MyDrive/datasets-colab"

In [53]:
#As vezes é necessário ver um resumo técnico de um dataframe.

titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

Trabalhando com subconjuntos de um dataframe

In [ ]:
#Criar um dataframe a partir da Série Age do dataframe titanic

ages = titanic['Age']
print(ages)

In [59]:
#Com o comando shape, dá pra visualizar quantas séries e quantas linhas possui o dataframe.
print(titanic.shape)
print(ages.shape) #as séries no pandas são unidimensionais.

(891, 12)
(891,)

Filtrando dados

In [ ]:
#Quero os passageiros com mais de 35 anos
mais35 = titanic[titanic['Age'] > 35]
mais35

#titanic['Age'] > 35 é uma expressão condicional, deve retornar TRUE ou FALSE

In [ ]:
#Filtrar as cabines dos passageiros das classes 2 e 3: MODO 1
class23 = titanic[(titanic['Pclass'] == 2) | (titanic['Pclass'] == 3)]
class23

#Ao combinar várias instruções condicionais, cada condição deve estar entre parênteses (). 
#Além disso, não usar or/and mas precisa usar o oroperador | e o and operador &.

In [ ]:
#Filtrar as cabines dos passageiros das classes 2 e 3: MODO 2, usando isin
class23 = titanic[titanic['Pclass'].isin([2, 3])]
class23

In [86]:
#Quero apenas os passageiros cuja idade é conhecida notna()

idadeSemNa = titanic[titanic['Age'].notna()]
idadeSemNa.shape

(714, 12)

In [ ]:
# Quero o nome dos passageiros com idade acima de 35 anos
passageirosMais35 = titanic.loc[titanic['Age']>=35, 'Name']
passageirosMais35

In [ ]:
#Estou interessado nas linhas de 9 à 24, e nas colunas (séries) de 2 à 4
titanic.iloc[9:25, 2:5]

In [93]:
#
titanic.iloc[0:3, 3] = "anônimo"
titanic.head
titanic.iloc[0:10, 0:5]

,PassengerId,Survived,Pclass,Name,Sex
0,1,0,3,anônimo,male
1,2,1,1,anônimo,female
2,3,1,3,anônimo,female
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female
4,5,0,3,"Allen, Mr. William Henry",male
5,6,0,3,"Moran, Mr. James",male
6,7,0,1,"McCarthy, Mr. Timothy J",male
7,8,0,3,"Palsson, Master. Gosta Leonard",male
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female