<a href="https://colab.research.google.com/github/ramonparaiba/machine-learning-classes/blob/main/Extra_001_PANDAS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [13]:
nums = [22, 12, 13, 12, 5, 3, 22, 11, 12, 19]
nos = set(nums)
nos
nums.count(12)
len(nums)

10

In [19]:
def numeroUnicos(lista):
  freq = ()
  result = []
  setList = list(set(lista))
  for i in setList:
    freq = (i, lista.count(i))
    result.append(freq)
  
  return result

In [22]:
data = numeroUnicos(nums)

In [23]:
import pandas as pd

In [25]:
df = pd.DataFrame(data, columns = ['numeros', 'frequência'])
df

   numeros  frequência
0        3           1
1        5           1
2       11           1
3       12           3
4       13           1
5       19           1
6       22           2