<a href="https://colab.research.google.com/github/ramonparaiba/machine-learning-classes/blob/main/ML_kaggle_titanic_firstmodel.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [2]:
train = pd.read_csv('/content/drive/MyDrive/datasets-colab/titanic/train.csv')
test = pd.read_csv('/content/drive/MyDrive/datasets-colab/titanic/test.csv')

In [ ]:
train.head()

In [6]:
#primeira solução de Machine Learning
from sklearn.ensemble import RandomForestClassifier

In [7]:
#instância do modelo
modelo = RandomForestClassifier(n_estimators = 100, n_jobs=1, random_state = 0)

In [8]:
#Verificar quais os valores existem em uma série
train['Sex'].value_counts()

male      577
female    314
Name: Sex, dtype: int64

In [9]:
#função para transformar variável sexo string em valores numéricos
def transform_sex(valor):
  if valor == 'female':
    return 1
  else:
    return 0

#Transformar
train['Sex_binario'] = train['Sex'].map(transform_sex)

In [11]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Sex_binario
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,0
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,1
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,1
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,0

In [12]:
#selecionar Mulheres e Crianças primeiro
variaveis = ['Sex_binario', 'Age']

In [14]:
#Criação do modelo
X = train[variaveis]
y = train['Survived']

In [ ]:
X.head()

In [ ]:
y.head()

In [ ]:
#Antes de rodar o modelo é preciso tratar os valores NaN, ou os valores muito grandes
modelo.fit(X, y)

In [19]:
#Para tratar os NaN, usar o método fillna()
# neste caso, optei por usar o -1, por ser um valor diferente de todos os usados em sex binário, ou idade.
X = X.fillna(-1)

In [20]:
#Rodar o modelo mais uma vez
modelo.fit(X, y)

RandomForestClassifier(n_jobs=1, random_state=0)

In [22]:
#aplicar o modelo nos dados de test
#Colocar a coluna Sexbinário na coluna de testes.
test['Sex_binario'] = test['Sex'].map(transform_sex)
test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Sex_binario
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q,0
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S,1
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q,0
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S,0
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S,1

In [ ]:
X_prev = test[variaveis]
X_prev = X_prev.fillna(-1)
X_prev.head()

In [26]:
p = modelo.predict(X_prev)

In [36]:
sub = pd.Series(p, index=test['PassengerId'], name='Survived')

In [37]:
sub.to_csv('/content/drive/MyDrive/datasets-colab/titanic/primeiro_modelo.csv', header=True)

In [ ]:
!head -n10 /content/drive/MyDrive/datasets-colab/titanic/primeiro_modelo.csv